<link rel="stylesheet" media="screen" href="../css/changelog.css" />
<h2>Changelog</h2>

<h5>1.0.2 (2026.02.04)</h5>
<ul>
  <li><span class="description">Try to fix pen support for Firefox mobile</span></li>
</ul>

<h5>1.0.1 (2026.02.02)</h5>
<ul>
  <li><span class="description">Added (<a href="https://web.readest.com">Readest</a> support</span></li>
  <li><span class="description">Added (<a href="https://kizuna-texthooker-ui.app">Kizuna</a> support</span></li>
  <li><span class="description">Added (<a href="https://github.com/KolbyML/Manatan">Manatan</a> support (anime, manga & LN)</span></li>
  <li><span class="description">Added an option to choose between touch, stylus/pen or both for mobile</span></li>
  <li><span class="description">Added an option to be able to highlight i+1 word only below a frequency</span></li>
  <li><span class="description">Fixed an issue with the API key not working when exporting and importing a profile</span></li>
  <li><span class="description">Fixed an issue where the pause would unpause after a few minutes</span></li>
</ul>

<h5>1.0.0 (2026.01.06)</h5>
<ul>
  <li><span class="description">Welcome to the initial version of Jiten Reader! You'll need an account on <a href="https://jiten.moe" target="_blank">Jiten</a> if you don't already have one.</span></li>
</ul>
