<link rel="stylesheet" media="screen" href="../css/changelog.css" />
<h2>Changelog</h2>

<h5>0.1.4 (2025.12.14)</h5>
<ul>
  <li><span class="description">Greatly improved page responsiveness while parsing</span></li>
  <li><span class="description">Fixed status bar UI blocking interaction even when it’s hidden</span></li>
  <li><span class="description">Fixed the UI briefly flashing on F5</span></li>
  <li><span class="description">Added a way to temporarily disable the parsing by clicking the extension icon then enabled to set it to paused</span></li>
  <li><span class="description">Added profiles that can be quickly switched through the extension icon.</span></li>
  <li><span class="description">Added a forget button that permanently removes the word and its reviews.</span></li>
  <li><span class="description">Added an option to change the API endpoint.</span></li>
</ul>

<h5>0.1.3 (2025.12.07)</h5>
<ul>
  <li><span class="description">Fix mokuro parser</span></li>
</ul>

<h5>0.1.2 (2025.12.07)</h5>
<ul>
  <li><span class="description">Added a status bar that shows some stats like the current coverage percentage.
    You can change its behaviour in the settings such as setting it at the top or bottom, always showing it or only on hover, or hiding it completely unless a keybind is pressed.</span></li>
  <li><span class="description">Fixed new mokuro reader parsing.</span></li>
  <li><span class="description">Added the mastered status. You can change the was it’s displayed with the “mastered” class. It doesn’t get coloured by default.</span></li>
  <li><span class="description">The due word status is now additive: you can have both young and due or mature and due, and apply different CSS classes in that case.</span></li>
  <li><span class="description">Underline is now on the left side by default for vertical text. You can change that by using https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-underline-position.</span></li>
</ul>

<h5>0.1.1 (2025.11.24)</h5>
<ul>
  <li><span class="description">Conjugations is now shown in popup, can be deactivated in settings.</span></li>
<li><span class="description">Cards are now shown as due when their review date is in the past.</span></li>
<li><span class="description">Fixed furigana shifting on certain websites.</span></li>
<li><span class="description">Fixed furigana appearing over the kana in mixed words.</span></li>
<li><span class="description">The YouTube auto-parser was deactivated since it was broken. You can parse a page manually by clicking the button **BUT** it will only parse what’s shown at the moment, not if you change page etc. Will make a come back in the future.</span></li>
<li><span class="description">Fixed NHK news / web easy auto-parser not working.</span></li>
<li><span class="description">Fixed NHK news web easy audio button duplication.</span></li>
<li><span class="description">Fixed typos on the settings page.</span></li>
<li><span class="description">Fixed parsing of extra host.</span></li>
<li><span class="description">Fixed buttons disappearing slower than the pop-up.</span></li>
</ul>

<h5>0.1.0 (2025.11.17)</h5>
<ul>
<li><label class="type outline add">add</label><span class="description">Initial release with basic functionality.</span><label class="category outline">Browser</label></li>
</ul>
