@use '@styles/theme/_common';
@use '@styles/theme/_outline';

body {
  width: 300px;

  padding: 0 1em 1em;

  .pages {
    &::-webkit-scrollbar {
      display: none !important;
      width: none !important;
    }
    scrollbar-width: none !important;

    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: .5em;

    margin: 1em 0;

    max-height: 500px;

    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-y: clip;

      &.hide {
        cursor: unset;

        &:not(:last-of-type) {
          display: none;
        }
      }
    }
  }

  .toggle-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;

    span {
      color: #bbb;
    }

    a.outline {
      padding: 0.4em 1em;
      min-width: 70px;
      text-align: center;

      &.paused {
        color: #ff3b3b;
        border-color: #ff3b3b;

        &:hover {
          box-shadow: inset 0 0 3px #ff3b3b;
        }
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: flex-end;

    a {
      cursor: pointer;
    }
  }
}
