@use 'sass:map';
@use '../variables/_colors' as colors;

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: map.get(colors.$buttons, button-background-color);
  border: 1px solid map.get(colors.$buttons, button-background-color);
  border-radius: 0.7em;

  color: map.get(colors.$buttons, button-text-color);
  cursor: pointer;

  display: inline-block;
  font-size: 1em;
  height: 2.8em;
  line-height: 1.4em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: 0 1px 1px map.get(colors.$buttons, button-shadow-color);
  transition: all ease-in-out 0.2s;
  transform: translatey(-0.01em);
  -webkit-appearance: none;
  appearance: none;
  font-weight: normal;

  &:focus {
    border: 1px solid map.get(colors.$buttons, button-focused-border-color);
    box-shadow:
      0 1px 1px map.get(colors.$buttons, button-shadow-color),
      0 2px 8px map.get(colors.$buttons, button-focused-shadow-color);

    outline: 0;
  }

  &:hover {
    transform: translatey(-0.25em);
    border: 1px solid map.get(colors.$buttons, button-hover-border-color);
    box-shadow:
      0 1px 1px map.get(colors.$buttons, button-shadow-color),
      0 4px 10px map.get(colors.$buttons, button-hover-shadow-color);
  }

  &:active {
    transform: scale(0.98);
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &:hover,
    &:focus {
      background-color: map.get(colors.$buttons, button-background-color);
      border-color: map.get(colors.$buttons, button-background-color);
    }
  }
}

input::-moz-focus-inner {
  border: 0;
}

input[type='text'][disabled],
input[type='number'][disabled],
label[disabled] {
  cursor: default;
  opacity: 0.5;
}

input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
input[type='url'],
textarea,
select {
  height: 3em;
  width: 100%;
  font-size: 0.95em;
  padding: 0.6em 1em;

  color: map.get(colors.$inputs, input-text-color);
  background-color: map.get(colors.$inputs, input-background-color);

  border: 1px solid map.get(colors.$inputs, input-border-color);
  border-radius: 0.6em;

  box-sizing: border-box;
  box-shadow: inset 0 1px 3px 0 map.get(colors.$inputs, input-box-shadow-color);
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;

  &:focus {
    border-color: map.get(colors.$inputs, input-focused-border-color);
    outline: 0;
    box-shadow: inset 0 1px 2px 0 map.get(colors.$inputs, input-focused-box-shadow-color);
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

textarea {
  min-height: 6.5em;
  resize: vertical;
  display: block;
}

input[type='radio'] {
  border-radius: 16px;

  &::before {
    visibility: hidden;
    display: block;
    content: ' ';
    width: 0.6em;
    height: 0.6em;
    background-color: map.get(colors.$inputs, checkbox-color);
    border-radius: 16px;
  }
}

input[type='checkbox'] {
  flex-shrink: 0;

  &::before {
    content: '✔';
    visibility: hidden;
    margin-top: 0.2em;
  }
}

input[type='checkbox'],
input[type='radio'] {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;

  margin: 0.5em 0.5em 0.5em 0;
  width: 1.5em;
  height: 1.5em;

  -webkit-appearance: none;
  appearance: none;

  border: 2px solid map.get(colors.$inputs, checkbox-border-color);
  border-radius: 4px;

  color: map.get(colors.$inputs, checkbox-color);
  background-color: map.get(colors.$inputs, checkbox-background-color);

  box-shadow: 0 0 3px map.get(colors.$inputs, checkbox-box-shadow-color);

  &[disabled],
  &[disabled] ~ label {
    opacity: 0.5;
  }

  ~ * {
    border-bottom: 1px solid transparent;
  }

  &:focus {
    outline: 0;
    border: 2px solid map.get(colors.$inputs, checkbox-focused-border-color);
    box-shadow: 0 0 4px map.get(colors.$inputs, checkbox-focused-box-shadow-color);

    ~ * {
      border-bottom: 1px solid map.get(colors.$inputs, checkbox-focused-text-underline-color);
    }
  }

  &:checked::before {
    visibility: visible;
  }
}

form > .checkbox:first-child {
  margin-top: 0.5em;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  input {
    flex-shrink: 0;
  }

  + input[type='submit'] {
    margin-top: 1em;
  }
}

label,
legend {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

fieldset,
input,
select,
textarea,
.style-textarea-handle {
  margin-bottom: 1.5em;
}

.form-box-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;

  .form-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    > div {
      display: flex;
      flex-direction: column;
      padding-top: 0.5em;
      padding-bottom: 1em;
      padding-bottom: 0;
      gap: 0.5em;

      > label {
        padding-top: 1em;
      }

      > input {
        margin-bottom: 0;
      }
    }

    .inline-group {
      display: flex;
      gap: 0.5em;

      input {
        margin-bottom: 0;

        &.button.small {
          height: 3em;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }
}

details {
  border: 1px solid map.get(colors.$colors, accordion-border-color);
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;

  > summary {
    user-select: none;
    cursor: pointer;
    opacity: 50%;
  }

  > div {
    padding-top: 1em;
  }

  select {
    margin: 0 0 0.5em 0;
    padding: 0 1em;
  }

  .select {
    display: flex;
  }

  .controls-list {
    display: flex;
    gap: 1em;

    input {
      margin-bottom: 0;
    }
  }
}
